@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 50px;
}
.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* 幅を調整 */
    margin: auto; /* 中央揃え */
}
h1 {
    color: #007acc;
    margin-bottom: 30px; /* 下のマージンを調整 */
}
button {
    display: block;
    margin: 10px auto; /* 上下のマージンを調整 */
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #add8e6; /* 薄い青色 */
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    width: 100%; /* ボタンを幅いっぱいに */
    max-width: 200px; /* 最大幅を設定 */
}
button:hover {
    border-color: #007acc; /* ホバー時の枠の色 */
}