body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* ビューポートの高さを100%に */
}
h1 {
    text-align: center;
    color: #333;
}
.input-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}
.select-container, .select-model, .year {
    margin-bottom: 15px;
}
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}
button:hover {
    background-color: #0056b3;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* ボタンの間隔を調整 */
    margin-top: 20px; /* 上部の余白を調整 */
}
#result-container {
    display: none; /* 初期状態では非表示 */
    margin-top: 20px;
    text-align: center; /* 中央寄せ */
}
table {
    border-collapse: collapse;
    width: 80%; /* テーブルの幅を指定 */
    margin: auto; /* 中央寄せ */
    border: 1px solid #ccc; /* テーブルの枠線 */
    background-color: #fff; /* テーブルの背景色 */
}
td {
    border: 1px solid #ccc; /* セルの枠線 */
    padding: 10px; /* セルの内側の余白 */
    text-align: left; /* テキストの位置を左寄せ */
    white-space: nowrap; /* 折り返しなし */
}